<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GhostRunner.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=GhostRunner;Persist Security Info=True;User ID=sa;Password=ServerPassword" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <GhostRunner.Server.Properties.Settings>
      <setting name="PhantomJSLocation" serializeAs="String">
        <value>D:\phantomjs</value>
      </setting>
      <setting name="ProcessingLocation" serializeAs="String">
        <value>D:\Processing</value>
      </setting>
      <setting name="CommandWorkingDirectory" serializeAs="String">
        <value>D:\CmdWindow</value>
      </setting>
      <setting name="CommandWindowMinuteTimeout" serializeAs="String">
        <value>1</value>
      </setting>
    </GhostRunner.Server.Properties.Settings>
  </userSettings>
</configuration>